:root {
    --darkViolet: hsl(256, 26%, 20%);
    --grayBlue: hsl(216, 30%, 68%);
    --veryDarkViolet: hsl(270, 9%, 17%);
    --darkGrayViolet: hsl(273, 4%, 51%);
    --lightGray: hsl(0, 0%, 98%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: none;
    border: none;
    list-style-type: none;
}
@font-face {
    font-family: Karla;
    src: url('/font/Karla/static/Karla-Regular.ttf');
}
@font-face {
    font-family:dm-serif;
    src: url('/font/DM_Serif_Display/DMSerifDisplay-Regular.ttf');
}
body {
    font-size: 16px;
    font-family: Karla, sans-serif;
    text-align: center;
}
.headings {
    font-family: dm-serif, serif;
    font-weight: 400;
}
.small-text {
    font-size: .9em;
}
.view-plans {
    text-transform: uppercase;
    font-size: .9em;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}
.view-plans {
    color: var(--lightGray);
    font-size: .75em;
    height: 40px;
    width: 45%;
    border: 1px solid var(--lightGray);
    cursor: pointer;
}
nav, #close {
    display: none;
    transition: 300ms ease-in-out;
    transform: scale(0);
}
nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 72px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 90vh;
    background-color: var(--veryDarkViolet);
    transform: scale(1);
    padding: 0 20px;
    text-align: center;
    background-image: url('/images/bg-pattern-mobile-nav.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
}
#hamburger, #close {
    cursor: pointer;
}
#hamburger.active {
    display: none;
}
#close.active {
    display: block;
    transform: scale(1);
}
nav.active a {
    color: var(--lightGray);
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 1.2em;
}
nav.active a:hover {
    font-weight: 600;
}
nav.active a.view-plans:hover {
    color: var(--veryDarkViolet);
    background-color: var(--lightGray);
    text-decoration: none;
    font-weight: 600;
}
nav.active a.view-plans {
    width: 90%;
    margin: 50px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hamburger.active {
    display: none;
}
#close.active {
    display: block;
}
#intro-mob {
    width: 100%;
    position: relative;
    top: 7px;
}
#desc {
    color: var(--lightGray);
    padding: 100px 37px;
    background-color: var(--darkViolet);
    background-image: url('/images/bg-pattern-intro-left-mobile.svg'), url('/images/bg-pattern-intro-right-mobile.svg');
    background-position: left top, right 230%;
    background-repeat: no-repeat;
}
#desc .headings {
    font-size: 2.5em;
    line-height: .9;
    margin-bottom: 15px;
}
#desc .view-plans:hover, #section-c .view-plans:hover {
    color: var(--veryDarkViolet);
    background-color: var(--lightGray);
}
#desc .small-text {
    line-height: 1.7;
    margin-bottom: 20px;
}
section#section-b {
    padding: 100px 35px;
}
#section-b hr {
    width: 45%;
    height: 1px;
    margin: 0 auto;
    background-color: var(--darkGrayViolet);
    margin-bottom: 40px;
}
#section-b h2.headings {
    font-size: 2.5em;
    margin-bottom: 50px;
    color: var(--veryDarkViolet);
}
#section-b h3.headings {
    font-size: 1.5em;
    margin: 30px 0 20px;
    color: var(--darkViolet);
}
#section-b p.small-text {
    color:var(--darkGrayViolet) ;
    margin-bottom: 50px;
    line-height: 1.6;
}
#section-c {
    background-color: var(--darkViolet);
    color: white;
    margin: 0 20px;
    padding: 75px 30px;
    background-image: url('/images/bg-pattern-how-we-work-mobile.svg');
    background-repeat: no-repeat;
    background-position: right top;
    margin-bottom: 100px;
}
#section-c h2.headings {
    font-size: 2.5em;
    line-height: 1em;
    margin-bottom: 30px;
}
#section-c .view-plans {
    width: 55%;
}
footer {
    background-color: var(--lightGray);
    padding: 100px 0;
    background-image: url('/images/bg-pattern-footer-mobile.svg');
    background-position: top left;
    background-repeat: no-repeat;
}
footer #top > img {
    margin-bottom: 20px;
}
#icons img:not(:first-child) {
    margin-left: .7em;
}
#icons img {
    cursor: pointer;
    width: 20px;
}
#icons img:hover {
    /* fill: var(--veryDarkViolet); */
}
footer hr {
    width: 85%;
    height: 1px;
    background-color: var(--darkGrayViolet);
    margin: 20px auto 30px;
    opacity: .5;
}
footer #bottom * {
    text-transform: uppercase;
}
#bottom .foot-col {
    margin-bottom: 40px;
}
#bottom li.foot-head {
    color: var(--darkGrayViolet);
    margin-bottom: 30px;
}
#bottom li.foot-body {
    color: var(--darkViolet);
    margin-bottom: 15px;
    font-weight: 700;
    cursor: pointer;
}
#bottom li.foot-body:hover {
    text-decoration: underline;
}


/* Tablet styles */
@media screen and (min-width: 850px) {
    body {
        font-size: 20px;
    }
    nav {
        display: block;
    }
    nav a {
        text-transform: uppercase;
        margin-right: 20px;
        color: var(--darkGrayViolet);
    }
    nav a:hover {
        color: var(--veryDarkViolet);
    }
    nav .view-plans {
        border-color: var(--darkViolet);
        padding: 10px 20px;
        color: var(--darkViolet);
    }
    nav .view-plans:hover {
        background-color: var(--veryDarkViolet);
        color: var(--lightGray);
    }
    #hamburger {
        display: none;
    }
    #intro-mob {
        height: 850px;
    }
    #desc {
        padding: 100px;
    }
    #section-b hr {
        width: 0;
    }
    #section-b h2.headings {
        text-align: left;
    }
    #section-b .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .cards {
        padding: 0 30px;
    }
    .cards:nth-child(1){
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .cards:nth-child(2){
        grid-column: 3/5;
        grid-row: 1/2;
    }
    .cards:nth-child(3){
        grid-column: 2/4;
        grid-row: 2/3;
        margin-top: -50px;
    }
    #section-c {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }
    #section-c h2.headings {
        text-align: left;
        padding: 0 20px;
    }
    #section-c .view-plans {
        width: 45%;
    }
    footer {
        background-image: url('./images/bg-pattern-footer-desktop.svg');
    }
    footer #bottom {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }
}

/* desktop styles */
@media screen and (min-width: 1300px) {
    body {
        font-size: 25px;
    }
    #section-a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    picture #intro-mob {
        position: absolute;
        top: 100px;
        right: 100px;
        width: 500px;
        height: 650px;
    }
    #desc {
        order: -1;
        text-align: left;
        padding-right: 630px;
        height: 650px;
        background-image: url('/images/bg-pattern-intro-left-desktop.svg'), url('/images/bg-pattern-intro-right-desktop.svg');
        background-position-y: 300%, -200%;
        background-position-x: left, right;
    }
    #desc hr {
        width: 200px;
        height: 1px;
        background-color: var(--darkGrayViolet);
        margin-bottom: 80px;
    }
    #desc .small-text {
        margin: 30px 0;
    }
    #desc .view-plans {
        width: 35%;
    }
    #section-b {
        margin: 0 80px;
    }
    #section-b hr {
        width: 200px;
        height: 1px;
        background-color: var(--darkGrayViolet);
        margin:50px 0 30px;
    }
    #section-b .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .cards {
        padding: 0;
        text-align: left;
    }
     .cards:nth-child(1){
        grid-column: 1/2;
    }
    .cards:nth-child(2){
        margin-left: 20px;
        grid-column: 2/3;
    }
    .cards:nth-child(3){
        margin-left: 40px;
        grid-column: 3/4;
        margin-top: 0;
        grid-row: 1/2;
    }
    footer #top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: 0 auto;
    }
}